/*CSS RESET*/

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*Utils*/
header{
    min-height: 100px;
    background-color: #ADD8E6;
    display: flex;
    justify-content:center;
}

.jumbotron{
    min-height: 500px;
    background-color: #00068B;
    display: flex;
    justify-content: center;
}


/*Header*/
.nav-bar{
    min-width: 70%;
    background-color: #DAA520;
    display: flex;
    margin: 20px 0px;
}

.col-logo{
    min-width: 20%;
    border: 2px dashed black;
}

.col-link{
    min-width: 60%;
    border: 2px dashed black;
}

.jumbotron-item{
    min-width: 50%;
    min-height: 70%;
    background-color: #ED82EE;
    margin: 50px 0px;
    border: 2px dashed black;
}

/*Main*/
/*SectionChannels*/
.section-container{
    min-height: 500px;
    display: flex;
    margin: 40px 0px;
    justify-content: center;
}

.main-items-container{
    min-width: 70%;
    display: flex;
}

.col-blue{
    min-width: 60%;
    border: 2px dashed black;
    background-color: #1D91FF;
}

.col-pink{
    min-width: 40%;
    border: 2px dashed black;
    background-color: #FFC0CB;
}

.section-container.gray{
    background-color: #D3D3D3;

}


